<!-- Hero Section with Background Image -->
<div class="relative z-10 bg-[url('/images/hero-pages.webp')] flex flex-col justify-center items-center h-[50%] text-center font-pf md:text-2xl text-special-text bg-cover bg-center">
	<div class="py-6 bg-[#000000c9] w-full">
		<p>BUILT FOR TRAILBLAZING LEADERS</p>
	</div>
</div>

<div class>
	<section class="bg-navy-900 py-16 px-4 md:px-28 pb-0">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
			<div class="order-2 md:order-1">
				<h2 class="text-2xl md:text-3xl font-pf text-special-text mb-6">C-LEVEL EXECUTIVES & SENIOR LEADERS</h2>
				<p class="mb-6">Senior decision-makers in private sector, multinational, and multilateral organizations who wish to strengthen communication skills for executive presence and strategic messaging.</p>
				<p>This program is tailored to improve communication in boardrooms, stakeholder engagements, investor relations, media interactions, and high-impact partnerships. It also focuses on internal team leadership, crisis management, and ensuring organizational alignment with company vision.</p>
			</div>
			<img src="/images/executive.webp" alt="Diverse business professionals" class="order-1 md:order-2 rounded-lg shadow-lg w-full" loading="lazy" />
		</div>
	</section>

	<section class="bg-navy-900 py-16 px-4 md:px-28 pb-0">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
			<img src="/images/enterpreneur.webp" alt="Power Circle meeting session" class="rounded-lg shadow-lg w-full" loading="lazy" />
			<div>
				<h2 class="text-2xl md:text-3xl font-pf text-special-text mb-6">ENTREPRENEURS & FOUNDERS</h2>
				<p class="mb-6">Established business owners and leaders aiming to enhance their ability to articulate business innovations, growth trajectories, and social impact.</p>
				<p>This program is designed to equip them with the skills to craft compelling narratives for investor pitches, market expansion efforts, and high-level strategic partnerships. Participants should have a registered business that has been operational for at least three years.</p>
			</div>
		</div>
	</section>

	<section class="bg-navy-900 py-16 px-4 md:px-28 pb-0">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
			<div class="order-2 md:order-1">
				<h2 class="text-2xl md:text-3xl font-pf text-special-text mb-6">IMPACT-DRIVEN CHANGEMAKERS</h2>
				<p class="mb-4"><span class="font-bold">Professionals, social entrepreneurs, and non-profit leaders</span> who are committed to making meaningful change.</p>
				<p class="mb-4">This program equips participants with the communication tools necessary for mobilizing stakeholders, securing support for social causes, and driving policy shifts. It also focuses on leadership communication for cross-sector collaboration, crisis response, and inspiring change at both grassroots and organizational levels.</p>
			</div>
			<img src="/images/change-makers.webp" alt="One-on-one coaching session" class="order-1 md:order-2 rounded-lg shadow-lg w-full" loading="lazy" />
		</div>
	</section>

	<section class="bg-navy-900 py-16 px-4 md:px-28">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
			<img src="/images/policy-makers.webp" alt="Power Circle meeting session" class="rounded-lg shadow-lg w-full" loading="lazy" />
			<div>
				<h2 class="text-2xl md:text-3xl font-pf text-special-text mb-6">PUBLIC SECTOR LEADERS & POLICYMAKERS</h2>
				<p class="mb-6">High-ranking government officials, diplomats, and policymakers engaged in shaping national and international policies.</p>
				<p>This program strengthens executive presence and enhances the ability to communicate effectively for policy advocacy, public engagements, and cross-sector collaborations. It also focuses on team leadership, stakeholder negotiations, and driving social or organizational change through strategic communications.</p>
			</div>
		</div>
	</section>
</div>
