
<section class="text-center mb-5">
	<img class="my-0 mx-auto pb-10" src="/images/hero-img.webp" alt="Strategic Leadership with Anita E." loading="lazy" />

	<div class="bg-[url('/images/accra-night.webp')] bg-cover bg-center bg-gradient-to-br from-[#000000c9] to-[#000000c9] pb-5">
		<div style="pointer-events: none">
			<script src="https://cdn.logwork.com/widget/countdown.js"></script>
			<a href="https://logwork.com/countdown-timer" class="countdown-timer" data-timezone="Africa/Accra" data-textcolor="#ffffff" data-date="2025-05-29 00:00" data-background="#ffffff" data-digitscolor="#0c3030" data-unitscolor="#ffffff">Countdown Timer</a>
		</div>
		<a href="/register" class="px-4 md:px-8 py-2 bg-[#0c3030] text-white text-[10px] md:text-sm font-bold font-[Open Sans]">REGISTER NOW</a>
	</div>
</section>
