<section class="text-center mb-5">
  <div class="px-10 pb-10">
    <h1 class="font-pf text-special-text">The Language of Leadership is Clear. Authentic. Unstoppable.</h1>
    <h1 class="font-pf text-special-text mb-5">MASTER IT</h1>
    <a href="/register"
      class="px-8 py-2 bg-white text-black font-[Open Sans] text-[10px]"> REGISTER NOW FOR THE NEXT SESSION</a>
  </div>
  <img
    class="my-0 mx-auto pb-10"
    src="/images/header-img.webp" alt="">
  <div>
    <div>
      <script src="https://cdn.logwork.com/widget/countdown.js"></script>
      <a href="https://logwork.com/countdown-5q3e" class="countdown-timer" data-timezone="Africa/Accra" data-textcolor="#ffffff" data-date="2025-03-06 02:42" data-background="#ffffff" data-digitscolor="#000000" data-unitscolor="#000000">Your Leadership Transformation Begins In...</a>
      <a href="/register"
        class="px-8 py-2 bg-white text-black text-[10px] font-[Open Sans]">REGISTER NOW</a>
    </div>
</section>