<footer class="text-center text-[12px] m-4">
  <p class="mt-4">Copyright © <span>
      <%= new Date().getFullYear() %>
    </span> The Leadership Voice Masterclass Series - All Rights Reserved.</p>
  <p class="mt-4">Powered by The Leadership Voice Institute</p>
</footer>