<footer class="text-center text-[12px] m-4">
  <p class="mt-4">Copyright © <span>
      <%= new Date().getFullYear() %>
    </span> THE LEADERSHIP VOICE MASTERCLASS SERIES - ALL RIGHTS RESERVED.</p>
  <p class="mt-4">POWERED BY ERSKINE GLOBAL COMMUNICATIONS</p>
</footer>