<header class="flex justify-between bg-[#060147] font-(--pf) mb-10">
  <a href="/" class="text-[12px] font-pf">
    <h1>The Leadership Voice</h1>
    <h1>Masterclass Series</h1>
  </a>
  <nav>
    <ul class="flex flex-row justify-around gap-[20px] text-[10px] pt-2">
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li>PROGRAM</li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </nav>
</header>