<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<meta name="description"
  content>
<meta name="author" content>
<meta property="og:url"
  content>
<meta property="og:type" content="webpage">
<meta property="og:title" content>
<meta property="og:description"
  content>
<meta property="og:image"
  content>
<meta name="twitter:card" content="summary">
<meta name="twitter:title"
  content>
<meta name="twitter:description"
  content>
<meta name="twitter:image"
  content>

<!-- Resource Hints -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="dns-prefetch" href="https://cdn.logwork.com">

<!-- Stylesheets -->
<link
  rel="stylesheet"
  href="/css/output.css">
<link rel="icon" href="images/favicon.ico">